.Container {
  width: '100%';
}

.App {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.Radio-Button-Image {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.App-logo {
  width: 100vw;
  max-width: 500px;
  pointer-events: none;
}

.title {
  display: flex;
  width: "100%";
  height: 70px;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  width: "100%";
  height: 40px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.phone {
  display: flex;
  flex-direction: row;
}

.subtitle {
  display: flex;
  width: "100%";
  height: 70px;
  background-color: #e1e8e8;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.oldPrize {
  text-decoration: line-through;
  margin-right: 10px;
}

.newPrize {
  font-weight: bold;
}

.radioButtonText {
  display: flex;
  flex-direction: column;
}
.radioTextContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.info {
  display: flex;
  width: "100%";
  height: 70px;
  background-color: #e1e8e8;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  width: "100%";
  height: 70px;
  background-color: #e1e8e8;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin-left: 5px;
  margin-right: 5px;
}